@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap');

a{
    color: unset;
    text-decoration: none;
}
.container{
    width: 900px;
    margin: auto;
    max-width: 90vw;
    text-align: center;
    padding-top: 10px;
}
.title{
    font-size: xx-large;
    padding: 20px 0;
}
.listProduct .item img{
    width: 90%;
    filter: drop-shadow(0 50px 20px #0009);
}
.listProduct{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.listProduct .item{
    background-color: #EEEEE6;
    padding: 20px;
    border-radius: 20px;
}
.listProduct .item h2{
    font-weight: 500;
    font-size: large;
}
.listProduct .item .price{
    letter-spacing: 7px;
    font-size: small;
}
/* detail page */

.detail{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    text-align: left;
}
.detail .image img{
    width: 100%;
}
.detail .image img:hover{
    width: 100%;
    transform: scale(1.03); 
    transition: transform 0.3s ease;
}
.detail .image{
    position: relative;
}
.detail .name{
    font-size: xxx-large;
    padding: 40px 0 0 0;
    margin: 0 0 10px 0;
}
.detail .price{
    font-weight: bold;
    font-size: x-large;
    letter-spacing: 7px;
    margin-bottom: 20px;
}

.detail .buttons{
    gap: 20px;
    margin-bottom: 20px;
}
.detail .buttons button{
    background-color: #eee;
    border: none;
    padding: 15px 20px;
    border-radius: 20px;
    font-family: Poppins;
    font-size: large;
}
.detail .buttons svg{
    width: 15px;
}
.detail .buttons span{
    background-color: #555454;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: 20px;
}
.detail .buttons button:nth-child(2){
    background-color: #2F2F2F;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eee;
    box-shadow: 0 10px 20px #2F2F2F77;
}
.btnCheckout{
    display: block;
    width: 100%;
    line-height: 1.4;
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
    margin-top: 0;
    margin-bottom: 10px;
    min-height: 44px;
    background-color: #fff;
    color: #ff7100;
    border-color: #ff7100;
    user-select: none;
    appearance: none;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid #ff7100;
    border-radius: 2px;
    font-family: Cardamon,serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-size: 13px;
}
.btnAddCart{
    display: block;
    width: 100%;
    line-height: 1.4;
    padding-left: 5px;
    padding-right: 5px;
    white-space: normal;
    margin-top: 0;
    cursor: pointer;
    margin-bottom: 10px;
    min-height: 44px;
    padding: 10px 18px;
    user-select: none;
    appearance: none;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 2px;
    background-color: #ff7100;
    color: #fff;
    font-family: Cardamon,serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .08em;
    font-size: 13px;
}
.btnAddCart:hover {
    background-color: #e66700;
}
#simular{
    padding: 20px 150px 50px 150px;
}
.detail .description{
    box-sizing: border-box;
    color: #333232;
    font-size: 15px;
    font-family: Crimson Text,serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
}
.sotify {
    margin-top: 20px;
}
.sotify a{
    border: 1px solid #e2e2e2;
    padding: 7px;
    margin-right: 10px;
    border-radius: 5px;
}
.sotify .fa-facebook-square {
    color: rgb(59, 89, 152);
}
.sotify .fa-twitter {
    color: rgb(0, 172, 237);
}
.sotify .fa-pinterest {
    color: rgb(203, 34, 41);
}
.sotify a i{
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
    color: #3a3a3a;
    font-size: .8em;
    line-height: 1;
    user-select: none;
    text-align: center;
    cursor: pointer;
    font-family: Cardamon,serif;
    font-style: normal;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .08em;
    white-space: normal;
    margin-left: 4px;
}
/* // ipad */
@media only screen and (max-width: 992px) {
    .listProduct{
        grid-template-columns: repeat(3, 1fr);
    }
    .detail{
        grid-template-columns:   40% 1fr;
    }
}


/* mobile */
@media only screen and (max-width: 768px) {
    .listProduct{
        grid-template-columns: repeat(2, 1fr);
    }
    .detail{
        text-align: center;
        grid-template-columns: 1fr;
    }
    .detail .image img{
        width: unset;
        height: 40vh;
    } 
    .detail .name{
        font-size: x-large;
        margin: 0;

    }
    .detail .buttons button{
        font-size: small;
    }
    .detail .buttons{
        justify-content: center;
    }
}
/* CSS cho hộp thoại chọn số lượng sản phẩm */
.product-dialog {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    text-align: center;
}
